<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список книг</title>
</head>
<body>
<div th:each = "book : ${books}" >
   <a th:href="@{/books/{id}(id=${book.getBook_id()})}"
      th:text="${book.getName() + ',' + book.getAuthor() + ', '
       + book.getYearOfProduction()}">Books</a>
</div>
<br/>
<br/>
<a href="/books/new">Создать книгу </a>
<br/>
<br/>
<br/>
<br/>
<a href="/index">На главную</a>
</body>
</html>